html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
}

img:nth-child(2) {
  display: none;
}

img:last-child {
  display: none;
}
